<% include ./layouts/header %>

<h1>ログイン認証システム</h1>
<div>
	<a href="users/sign_up">アカウントを作成する</a>
</div>
<div>
<% if(userId) { %>
		<a href=<%= `/users/${userId}` %>>マイページへ</a>
<% } else { %>
		<a href="users/sign_in">ログインする</a>
<% } %>
</div>

<% include ./layouts/footer %>

